@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

.country-page .country-page-title {
  font-family: "La Belle Aurore", cursive;
  font-weight: 400;
  font-size: 280%;
}

.country-page h2 {
  font-family: "La Belle Aurore", cursive;
  font-weight: 400;
  padding-top: 25px;
}

.country-page .country-page {
  text-align: center;
}

.country-page .country-image {
  padding-top: 10px;
  width: 100%;
  max-width: 750px;
  height: auto;
  display: block; 
  margin: 0 auto; 
}

.country-page .country-description {
  padding-top: 20px;
  max-width: 750px;
  margin: 0 auto;
  text-align: justify;
}

.country-page .recipes-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 10px;
  margin: 10px auto; 
  padding: 10px;
  scroll-snap-type: x mandatory;
  width: 100%; 
  max-width: 750px; 
  box-sizing: border-box; 
}

.country-page .recipe-item {
  flex: 0 0 auto;
  cursor: pointer;
  border: none;
  scroll-snap-align: start;
}

.country-page .recipe-item img {
  width: 150px;
  height: 150px;
  border-radius: 0px;
  object-fit: cover;
}

.country-page .recipe-item img:hover {
  opacity: 0.5;
}

.country-page .recipes-container::-webkit-scrollbar {
  display: none;
}
